In [6]:
#FOR ADMIN
import mysql.connector as sql
from datetime import date
from datetime import time
from datetime import datetime
#MY-SQL Connection
try:
  con = sql.connect(
  host="localhost",
  user="root",
  password="root"
  )
except Exception as e:
  print(e)
else:
  print("Connection Done")

hospital_name="City Hospital Burhanpur"
center_hospital_name=hospital_name.center(120)
print(center_hospital_name)
user_id=input("Enter the  admin user id :- ")
password=input("Enter the password :- ")
user_id1='admin'
password1='password'
if (user_id == 'admin') and (password == password1):

    var_a1=int(input("Enter 1 to create a  database :- \nEnter 2 to open a database :- \n"))
    if var_a1==1:#TO CREATE A DATABASE
        try:
            cursor = con.cursor()
            dbname = input('Enter the Database name => ')
            query = f"create database {dbname}"
            cursor.execute(query)
        except Exception as e:
            print(e)
        else:
            print('Database Created')
    elif var_a1==2:#TO OPEN A DATABASE
        cursor = con.cursor()
        query = 'show databases'
        cursor.execute(query)
        for db in cursor: 
            print(db)
       #SELECT THE DATABASE WHICH HAS TO BE OPENED
        try:
            cursor=con.cursor()
            select_database=input("Select the database to open")
            query=f'use {select_database}'
            query=cursor.execute(query)
        except Exception as e:
            print(e)
        else:
            print("Database is selected")
        var_a2=int(input("Enter 1 to add table :- \nEnter 2 to see tables :-\nEnter 3 to delete records\n"))
        if var_a2==1: # TO ADD THE TABLES IN DATABASE
            try:
                cursor=con.cursor()
                table_name='ABC_Hospital_Patient_Records'
                query=f'create table {table_name}(patient_id int,patient_name varchar(30),patient_gender varchar(3),patient_mobile int,patient_address varchar(50))'
                cursor.execute(query)
            except Exception as e:
                print(e)
            else:
                print("Patients Month Record Table created")
        elif var_a2==2:
            try:
                cursor = con.cursor()
                query = "show tables"
                cursor.execute(query)
                if len(cursor.fetchall()) == 0:
                    print('No table present database')
                else:
                    cursor.execute(query)
                    print(cursor.fetchall())
            except Exception as e:
                print(e)
            #To Show Data Inside table
            tbl_name = input("Enter the name of table")
            cursor = con.cursor()
            query =f"desc {tbl_name}"
            cursor.execute(query)
            header =list()
            for i in cursor:
                header.append(i[0])
            #print(header)

            query =f"select * from {tbl_name}"
            cursor.execute(query)
            data=list()
            for i in cursor:
                data.append(i)
            #print(data)

            for i in range(len(data)):
                for h,v in zip(header,data[i]):
                    print(f'{h:<10} : {v}')
                print()
            try:
                cursor = con.cursor()
                query = "show tables"
                cursor.execute(query)
                if len(cursor.fetchall()) == 0:
                    print('No table present database')
                else:
                    cursor.execute(query)
                    print(cursor.fetchall())
            except Exception as e:
                print(e)
        elif var_a2==3:# TO DELETE RECORDS OF TABLE
            try:
                cursor = con.cursor()
                query = "show tables"
                cursor.execute(query)
                if len(cursor.fetchall()) == 0:
                    print('No table present database')
                else:
                    cursor.execute(query)
                    print(cursor.fetchall())
            except Exception as e:
                print(e)
            
            try:
                cursor=con.cursor()
                #table_del=input("enter")
                query="delete from abc_hospital_patient_records" 
                #query="delete * from {table_del}" 
                cursor.execute(query)
                con.commit()
            except Exception as e:
                print(e)
            else:
                print("table  data deleted")
else:
    print("user id and password is not matched")

Connection Done
                                                City Hospital Burhanpur
Enter the  admin user id :- admin
Enter the password :- password
Enter 1 to create a  database :-
Enter 2 to open a database :-
2
('abc_hospital_oct',)
('abc_hospital_sept',)
('aryan',)
('f',)
('information_schema',)
('mysql',)
('performance_schema',)
('raj',)
('rajesh',)
('raju',)
('sakila',)
('sample',)
('sample1',)
('students_data',)
('sys',)
('world',)
Select the database to opensample
Database is selected
Enter 1 to add table :-
Enter 2 to see tables :-
Enter 3 to delete records
2
[('abc_hospital_patient_records',)]
Enter the name of tableabc_hospital_patient_records
patient_id : 1
patient_name : raj
patient_gender : m
patient_mobile : 777
patient_address : indore

[('abc_hospital_patient_records',)]

In [3]:

tbl_name = input("Enter the name of table")
cursor = con.cursor()
query =f"desc {tbl_name}"
cursor.execute(query)
header =list()
for i in cursor:
    header.append(i[0])
print(header)

query =f"select * from {tbl_name}"
cursor.execute(query)
data=list()
for i in cursor:
    data.append(i)
print(data)

for i in range(len(data)):
    for h,v in zip(header,data[i]):
        print(f'{h:<10} : {v}')
    print()

Enter the name of tabled

ProgrammingError: 1046 (3D000): No database selected